{% extends 'base.html' %}


{% block navbar %}
<script>
    var url1 = "{{ url_for('news.index') }}";
    var url2 = "{{ url_for('news.detection') }}";
    var url3 = "{{ url_for('news.analysis') }}";
</script>
<div style="float: left">
    <nav class="nav">
        <input type="radio" name="nav-item-opt" id="nav-item-opt-1">
        <label class="nav-item" for="nav-item-opt-1" onclick="window.location.href=url1;">
            蛛丝马迹
        </label>

        <input type="radio" name="nav-item-opt" id="nav-item-opt-2">
        <label class="nav-item" for="nav-item-opt-2" onclick="window.location.href=url2;">
            智能分析
        </label>

        <input type="radio" name="nav-item-opt" id="nav-item-opt-3" checked>
        <label class="nav-item" for="nav-item-opt-3" onclick="window.location.href=url3;">
            数读平台
        </label>

        <label class="nav-item">
            关于我们
        </label>
        <div class="tracker"></div>
    </nav>
</div>

<div class="user_info">
    <span>
        欢迎,&nbsp;&nbsp;David Oliva&nbsp;&nbsp;
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAZFJREFUSEvt1k9LFVEUAPCf+AEqBPdRSNBGXOgiIl0EQd+gRZsgcOFSBHWnILSsjbRo4ycQhDZBfyioCMSF2qL8AEFBtTbjwDwYRufN3DtPRPCsHsw953fvfXfm3CFnFENn5MqFL2GumPQz/E5dQA58BR8xVmD7mMLfFDwFvowlPELg5fiJF1jFnzYTaAs/wFOMNBT9gcfYbMLbwMtYaSpUeT6L9X45TfA0XieiMfwIk/hSl9sPjmdfS4co1X+P2znwfWylapXxE9g+qUa/Fcdh6r2ruf4CnqTCL3EvVyzyNvAwFY5DFYerS7zC3VT4De50UfG2bvL9/uMLOGfXz89WX8cHjOYss5QTTeMWvlXrnHS4bhSnsSvaswKfwV4Zr8LRZw8QvXeQ8QtXy726Csd7G6/RaUTUftcrXIWjlX06DbW4Hn2ug4fxHNcGjH8vbiaHdfCAvfpyTTeQauZ4cauInSnHP0Tv3Wk781Q46kZ/na8Aa1hsi8a4HDjybhYfhvgdH5rdFLQLnOocG5+74s7wf3miPB/OgoyfAAAAAElFTkSuQmCC"
             style="width: 16px;"/>
        登录时间:
    </span>
    <script>
        var now = new Date();
        var str = now.toLocaleTimeString();

        document.write(str);
    </script>

    <button class="top_block_item_button" style="background-color: #0a0a0a">退出</button>
</div>

{% endblock navbar %}

{% block sidebar %}
{% endblock sidebar %}

{% block top_block %}
{% endblock top_block %}

{% block inner_block %}
{% endblock inner_block %}

{% block box %}
<style>
    .navi a:hover {
        background-color: #DD5044;
        color: #F0F8FF;
    }
</style>
<div class="container">
    <div class="navi" style="border-bottom: 3px solid #DD5044;">
        <a href="{{ url_for('news.analysis') }}">谣言分析</a>
        <a href="{{ url_for('news.analysis_refute') }}" style="background-color: #DD5044;color:#F0F8FF;">辟谣分析</a>
        <a href="{{ url_for('news.analysis_summary') }}">汇总统计</a>
    </div>

    <div class="box">
        <div class="box1">
            <div class="title" style="color: #dd5044">┃ 热点辟谣事件</div>

            <div class="content">

                <div class="c-right" id="options">
                    {% for ne in news %}
                    <div>
                        <span class="she-hui" style="background-color: #dd5044">类别</span>
                        <span class="option"
                              onclick="showContent(this, '{{ ne.content }}','{{ ne.title }}','{{ ne.date }}','{{ ne.source }}','{{ ne.detail_url }}')">
                            {{ ne.title }}
                        </span>
                    </div>
                    {% endfor %}
                </div>

                <div class="c-left">
                    <a href="" id="title-display" style="text-decoration: none;"> </a>
                    <div style="margin: 4px 0 4px 0;font-size: 13px;color: gray">
                        <span id="source-display"></span>
                        <span id="date-display"></span>
                    </div>
                    <div style="color: black;font-size: 14px;" id="content-display">
                    </div>
                </div>

            </div>

        </div>

        <div class="box2">
            <div class="title" style="color: #dd5044">▶ 近期走势</div>
            <div id="lineChart" style="width:770px; height: 280px"></div>
        </div>
    </div>

    <div class="box3">
        <div class="title" style="background-color: #f196bc;">谣言榜</div>
        <div style="background-color: #fba4c4;">
            <span style="margin-left: 30px;color: white;font-size: 13px;">发布者</span>
            <span style="display: inline-block; float:right; margin-right: 15px;color: white;font-size: 13px;">辟谣数</span>
        </div>

        {% for rumor in rumors_rank %}
        {% if loop.index is even %}
        <div style="background-color: #F9F9F9">
            {% else %}
            <div>
                {% endif %}
                <div class="Rank">
                    {% if loop.index <= 3 %}
                    <span class="Rank-id" style="background-color: red;">{{ loop.index }}</span>
                    {% elif loop.index <= 8%}
                    <span class="Rank-id" style="background-color: #FF8547">{{ loop.index }}</span>
                    {% else %}
                    <span class="Rank-id" style="background-color: #FFAC38">{{ loop.index }}</span>
                    {% endif %}

                    <a style="text-decoration: none;color: #1B8ED1;" href="{{ rumor.detail_url }}">
                        {{ rumor.source }} </a>
                    <span style="display: inline-block; float:right;">{{ rumor.like_num }}</span>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="box">
            <div class="box4">
                <div class="title" style="color: #dd5044">▲ 热门关键字</div>
                <div id="wordCloudChart" style="width: 520px; height: 250px;"></div>
            </div>

            <div class="box5">
                <div class="title" style="color: #dd5044">▲ 类别统计</div>

            </div>
        </div>


    </div>
</div>

   <script>
        var chartDom = document.getElementById('wordCloudChart');
        var myChart = echarts.init(chartDom);
        var option;

        // 词云图的数据，每个词条包含名称和权重
        var data = [
            { name: 'JavaScript', value: 100 },
            { name: 'Python', value: 80 },
            { name: 'Java', value: 70 },
            { name: 'HTML', value: 60 },
            { name: 'CSS', value: 50 },
            { name: 'React', value: 40 },
            { name: 'Vue', value: 30 },
            { name: 'Angular', value: 20 },
            { name: 'Node.js', value: 10 }
        ];

        option = {
            series: [{
                type: 'wordCloud',
                data: data,
                // 设置词云图的尺寸范围
                size: ['20%', '80%'],
                // 设置词云图的文字旋转角度范围
                rotationRange: [-90, 90],
                // 设置词云图的字体大小范围
                textStyle: {
                    normal: {
                        fontFamily: 'Arial, sans-serif',
                        fontWeight: 'bold',
                        color: function () {
                            // 随机生成词云图中的文字颜色
                            return 'rgb(' + [
                                Math.round(Math.random() * 255),
                                Math.round(Math.random() * 255),
                                Math.round(Math.random() * 255)
                            ].join(',') + ')';
                        }
                    }
                }
            }]
        };

        // 使用配置项绘制词云图
        myChart.setOption(option);
    </script>

    <script>
        var chartDom = document.getElementById('lineChart');
        var myChart = echarts.init(chartDom);
        var option;
        var date = {{ news_date | tojson }}
        var count = {{ news_count | tojson }}
        option = {
            title: {
                text: '近期辟谣数量统计',
                textStyle: {
                    textAlign: 'center'
                }
            },
            xAxis: {
                type: 'category',
                data: date
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    data: count,
                    type: 'line',
                    smooth: true,
                    label: {
                        show: true, // 显示数值
                        position: 'top' // 数值显示在折线的顶部
                    }
                }
            ]
        };
        // 使用配置项绘制图表
        myChart.setOption(option);
    </script>
    <script>

        window.onload = function () {
            // 默认点击第一个选项
            var firstOption = document.querySelector('.c-right .option');
            showContent(firstOption, "{{ news[0].content }}", '{{ news[0].title }}', '{{ news[0].date }}', '{{ news[0].source }}', '{{ news[0].detail_url }}');
        }

        function showContent(selectedItem, content, title, date, source, detail_url) {
            // 清除所有选中项的样式
            var allItems = document.querySelectorAll('.c-right .option');
            allItems.forEach(function (item) {
                item.classList.remove('selected');
            });
            // 添加选中项的样式
            selectedItem.classList.add('selected');

            var truncatedContent = content.length > 150 ? content.substring(0, 150) + '...' : content;
            document.getElementById('content-display').innerText = truncatedContent;
            document.getElementById('title-display').innerText = title;
            document.getElementById('date-display').innerText = date;
            document.getElementById('source-display').innerText = source;
            document.getElementById('title-display').href = detail_url;
        }

    </script>
{% endblock box %}
