{% extends 'base.html' %}


{% block navbar %}
<script>
    var url1 = "{{ url_for('news.index') }}";
    var url2 = "{{ url_for('news.detection') }}";
    var url3 = "{{ url_for('news.analysis') }}";
</script>
<div style="float: left">
    <nav class="nav">
        <input type="radio" name="nav-item-opt" id="nav-item-opt-1">
        <label class="nav-item" for="nav-item-opt-1" onclick="window.location.href=url1;">
            蛛丝马迹
        </label>

        <input type="radio" name="nav-item-opt" id="nav-item-opt-2">
        <label class="nav-item" for="nav-item-opt-2" onclick="window.location.href=url2;">
            智能分析
        </label>

        <input type="radio" name="nav-item-opt" id="nav-item-opt-3" checked>
        <label class="nav-item" for="nav-item-opt-3" onclick="window.location.href=url3;">
            数读平台
        </label>

        <label class="nav-item">
            关于我们
        </label>
        <div class="tracker"></div>
    </nav>
</div>

<div class="user_info">
    <span>
        欢迎,&nbsp;&nbsp;David Oliva&nbsp;&nbsp;
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAZFJREFUSEvt1k9LFVEUAPCf+AEqBPdRSNBGXOgiIl0EQd+gRZsgcOFSBHWnILSsjbRo4ycQhDZBfyioCMSF2qL8AEFBtTbjwDwYRufN3DtPRPCsHsw953fvfXfm3CFnFENn5MqFL2GumPQz/E5dQA58BR8xVmD7mMLfFDwFvowlPELg5fiJF1jFnzYTaAs/wFOMNBT9gcfYbMLbwMtYaSpUeT6L9X45TfA0XieiMfwIk/hSl9sPjmdfS4co1X+P2znwfWylapXxE9g+qUa/Fcdh6r2ruf4CnqTCL3EvVyzyNvAwFY5DFYerS7zC3VT4De50UfG2bvL9/uMLOGfXz89WX8cHjOYss5QTTeMWvlXrnHS4bhSnsSvaswKfwV4Zr8LRZw8QvXeQ8QtXy726Csd7G6/RaUTUftcrXIWjlX06DbW4Hn2ug4fxHNcGjH8vbiaHdfCAvfpyTTeQauZ4cauInSnHP0Tv3Wk781Q46kZ/na8Aa1hsi8a4HDjybhYfhvgdH5rdFLQLnOocG5+74s7wf3miPB/OgoyfAAAAAElFTkSuQmCC"
             style="width: 16px;"/>
        登录时间:
    </span>
    <script>
        var now = new Date();
        var str = now.toLocaleTimeString();

        document.write(str);
    </script>

    <button class="top_block_item_button" style="background-color: #0a0a0a">退出</button>
</div>

{% endblock navbar %}

{% block sidebar %}
{% endblock sidebar %}

{% block top_block %}
{% endblock top_block %}

{% block inner_block %}
{% endblock inner_block %}

{% block box %}
    <div class="container">
        <div class="navi">
            <a href="{{ url_for('news.analysis') }}">谣言分析</a>
            <a href="{{ url_for('news.analysis_refute') }}" style="background-color: #113965;color:#F0F8FF;">辟谣分析</a>
            <a href="{{ url_for('news.analysis_summary') }}">汇总统计</a>
        </div>

        <div class="box">

        </div>
    </div>
{% endblock box %}
