<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('news.static', filename='css/top_nav.css') }}">
    <!--    <link rel="stylesheet" href="{{ url_for('news.static', filename='css/bootstrap.min.css') }}"-->
    <!--          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{{ url_for('news.static', filename='css/nav.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <title></title>
    <script src="{{ url_for('news.static', filename='js/script.js') }}" defer></script>

</head>

<body>

<div>
    <!--    <img style=" float:left;width: 20%;height: 20%;padding-left: 100px;"-->
    <!--         src="{{ url_for('news.static', filename='img/logo2.png') }}" alt="">-->
    <nav class="nav">
        <input type="radio" name="nav-item-opt" id="nav-item-opt-1" checked>
        <label class="nav-item" for="nav-item-opt-1">
            蛛丝马迹
        </label>

        <input type="radio" name="nav-item-opt" id="nav-item-opt-2">
        <label class="nav-item" for="nav-item-opt-2">
            智能分析
        </label>

        <input type="radio" name="nav-item-opt" id="nav-item-opt-3">
        <label class="nav-item" for="nav-item-opt-3">
            数读平台
        </label>

        <label class="nav-item">
            关于我们
        </label>

        <div class="tracker"></div>
    </nav>
</div>

<nav class="sidebar locked">
    <div class="logo_items flex">
      <span class="nav_image">
        <img style="width: 70%;" src="{{ url_for('news.static', filename='img/logo4.png') }}" alt="logo_img">
      </span>
        <span class="logo_name">无&nbsp;音&nbsp;讯</span>
        <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
        <i class="bx bx-x" id="sidebar-close"></i>
    </div>
    <div class="logo_en_name">
        <span>silence of Rumors</span>
    </div>
    <div class="menu_container">
        <div class="menu_items">
            <ul class="menu_item">
                <div class="menu_title flex">
                    <span class="title">快速浏览</span>
                    <span class="line"></span>
                </div>
                <li class="item">
                    <a href="#" class="link flex">
                        <i class="bx bx-home-alt"></i>
                        <span>最新上传</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="link flex">
                        <i class="bx bx-grid-alt"></i>
                        <span>最受关注</span>
                    </a>
                </li>
            </ul>

            <ul class="menu_item">
                <div class="menu_title flex">
                    <span class="title">类别导航</span>
                    <span class="line"></span>
                </div>
                <li class="item">
                    <a href="#" class="link flex">
                        <i class="bx bxs-magic-wand"></i>
                        <span>社会</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="link flex">
                        <i class="bx bx-folder"></i>
                        <span>国际</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="link flex">
                        <i class="bx bx-cloud-upload"></i>
                        <span>其他</span>
                    </a>
                </li>
            </ul>

            <ul class="menu_item">
                <div class="menu_title flex">
                    <span class="title">谣言溯源</span>
                    <span class="line"></span>
                </div>

                <li class="item">
                    <a href="#" class="link flex">
                        <i class="bx bx-flag"></i>
                        <span>官方辟谣</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="link flex">
                        <i class="bx bx-award"></i>
                        <span>追根溯源</span>
                    </a>
                </li>
<!--                <li class="item">-->
<!--                    <a href="#" class="link flex">-->
<!--                        <i class="bx bx-cog"></i>-->
<!--                        <span>Setting</span>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </div>
        <div class="sidebar_profile flex">
        <span class="nav_image">
          <img src="{{ url_for('news.static', filename='img/profile.png') }}" alt="profile_img">
        </span>
            <div class="data_text">
                <span class="name">David Oliva</span>
                <span class="email">david@gmail.com</span>
            </div>
        </div>
    </div>
</nav>

</body>


</html>
